@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html{
  --primary-color: #A82D49;
  --primary-white: #fff;
 
}
.-btn{
  height: 2.7rem;
  width: 9rem;
  background: var(--primary-color);
  border: 3px solid #A82D49;
  transition: .5s ease;
  font-weight: 600;
  color: #fff;
  display: flex;
}
.-btn:hover{
  background: #fff;
  color: #A82D49;
 

}
.-btn:hover .icons{
  color: var(--primary-color);
  transition: .5s ease;
}
.--flex{
  display: flex;
}